<template>
  <div class="container">
    <div class="pt-2">
      <vue-bootstrap-typeahead 
        v-model="query"
        :data="data"
        :serializer="s => s.n + ' (ORP ' + s.on + ')'"
        placeholder="Zadejte obec ..."
        @hit="handleHit"
      />
      <!-- <div class="p-2">
        Vybraná obec: <strong>{{ selected.n }}</strong>  {{ '(ORP ' + selected.on + ')' }}
      </div> -->
      <!-- {{ selected.r }} -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Počet lidí v&nbsp;kolektivu</th>
            <th>Šance, že alespoň 1&nbsp;člověk je nakažen</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, i) in people" :key="i">
            <td>+ {{ item }}</td>
            <td :style="color(probability(item))"><strong>{{ probability(item) }} %</strong></td>
          </tr>
          <tr>
            <td>
              <b-form-input v-model="text" placeholder="Vlastní počet"></b-form-input>
            </td>
            <td :style="color(probability(text))"><strong>{{ probability(text) }} %</strong></td>
          </tr>
        </tbody>
      </table>
      Dle dat za {{ 'ORP ' + selected.on }} k&nbsp;12.11.2020

    </div>
  </div>
</template>

<script>
import data from '@/assets/data.json'
import VueBootstrapTypeahead from 'vue-bootstrap-typeahead'


export default {
  data: function() {
    return {
      query: 'Praha (ORP Praha)',
      data,
      selected: data[0],
      people: [1, 3, 5, 10, 20, 50, 100],
      text: '500'
    }
  },
  methods: {
    handleHit(evt) {
      console.log(evt)
      if (typeof(evt) == 'undefined') {
        this.selected = this.data[0]
      }
      this.selected = evt
      // this.search()
    },
    probability(n) {
      return 100 - Math.round(Math.pow((1 - this.selected.r), n) * 100)
    },
    color(n) {
      let middle = 5
      if (n < middle) {
        let r = 0
        let g = 160
        let b = 0
        let a = (middle - n) / middle
        return "background-color:rgba(" + r + "," + g + "," + b + "," + a + ")"
      } else {
        let r = 160
        let g = 0
        let b = 0
        let a = (n - middle) / (100 - middle)
        return "background-color:rgba(" + r + "," + g + "," + b + "," + a + ")"
      }
    }
  },
  components: {
    VueBootstrapTypeahead
  }
}
</script>

<style>

thead {
  background-color: #fff5f5;
}

table {
  font-size: 0.9em;
  background-color: white;
}

.container {
  margin: 0 auto;
  /* min-height: 100vh; */
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: min(660px, 100vw);
  background-color: #fff5f5;
}

input {
  max-width: 100%
}
</style>
