<template>
  <div class="container">
    <div class="pt-2">
      <vue-bootstrap-typeahead 
        v-model="query"
        :data="data"
        :serializer="s => s.n + ' (ORP ' + s.on + ')'"
        placeholder="Zadejte obec ..."
        @hit="handleHit"
      />
      <label for="range-1" class="pt-4"><small>Nakažených je reálně ještě <strong>{{ range }}x</strong> více než zjištěno:</small></label>
    <b-form-input id="range-1" v-model="range" type="range" min="1" max="4"></b-form-input>
      <!-- <div class="p-2">
        Vybraná obec: <strong>{{ selected.n }}</strong>  {{ '(ORP ' + selected.on + ')' }}
      </div> -->
      <!-- {{ selected.r }} -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Počet lidí ve&nbsp;skupině</th>
            <th>Šance, že alespoň 1&nbsp;člověk je nakažen</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, i) in people" :key="i">
            <td>{{ item }}</td>
            <td :style="color(probability(item))"><strong>{{ probability(item) }} %</strong></td>
          </tr>
        </tbody>
      </table>
      Dle dat za {{ 'ORP ' + selected.on }} k&nbsp;15.11.2020

    </div>
  </div>
</template>

<script>
import data from '@/assets/data.json'
import VueBootstrapTypeahead from 'vue-bootstrap-typeahead'


export default {
  data: function() {
    return {
      query: 'Praha (ORP Praha)',
      data,
      selected: data[0],
      people: [2, 5, 10, 20, 50, 100, 500],
      range: 1
    }
  },
  methods: {
    handleHit(evt) {
      if (typeof(evt) == 'undefined') {
        this.selected = this.data[0]
      }
      this.selected = evt
      // this.search()
    },
    probability(n) {
      let R = this.selected.r * this.range
      return 100 - Math.round(Math.pow((1 - R), n) * 100)
    },
    color(n) {
      let middle = 5
      if (n < middle) {
        let r = 0
        let g = 160
        let b = 0
        let a = (middle - n) / middle
        return "background-color:rgba(" + r + "," + g + "," + b + "," + a + ")"
      } else {
        let r = 160
        let g = 0
        let b = 0
        let a = (n - middle) / (100 - middle)
        return "background-color:rgba(" + r + "," + g + "," + b + "," + a + ")"
      }
    }
  },
  components: {
    VueBootstrapTypeahead
  }
}
</script>

<style>

thead {
  background-color: #fff5f5;
}

table {
  font-size: 0.9em;
  background-color: white;
}

.container {
  margin: 0 auto;
  /* min-height: 100vh; */
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: min(660px, 100vw);
  background-color: #fff5f5;
}

input {
  max-width: 100%
}
</style>
