<template>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th colspan=4>
              <label for="range-1"><small>Nakažených je reálně ještě {{ range }}x více:</small></label>
              <b-form-input id="range-1" v-model="range" type="range" min="1" max="4"></b-form-input>
            </th>
          <tr>
          <tr>
            <th>Počet lidí:</th>
            <th v-for="(item, i) in people" :key="i">{{item}}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, i) in data" :key="i">
            <td>{{ item.n }}</td>
            <td v-for="(n, j) in people" :key="j" :style="color(probability(n, item.r))">
              {{ probability(n, item.r) }}%
            </td>
          </tr>
          <tr>
            <td>
              Data k 15.11.2020
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import data from '@/assets/orpdata.json'

export default {
  data: function() {
    return {
      data,
      people: [2, 5, 10, 50, 100, 500],
      range: 1
    }
  },
  methods: {
    probability(n, r) {
      let R = r * this.range
      return 100 - Math.round(Math.pow((1 - R), n) * 100)
    },
    color(n) {
      let middle = 5
      if (n < middle) {
        let r = 0
        let g = 160
        let b = 0
        let a = (middle - n) / middle
        return "background-color:rgba(" + r + "," + g + "," + b + "," + a + ")"
      } else {
        let r = 160
        let g = 0
        let b = 0
        let a = (n - middle) / (100 - middle)
        return "background-color:rgba(" + r + "," + g + "," + b + "," + a + ")"
      }
    }
  }
}
</script>

<style>

.container {
  margin: 0 auto;
  /* min-height: 100vh; */
  /* height: 900px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: min(660px, 100vw);
  background-color: #fff5f5;
}
</style>